<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="openlayers_rap_simple_example.Application"
            parameter="map_example"
            id="openlayers_rap_simple_example.Application">
      </entrypoint>
   </extension>
  </plugin>
